@font-face {
    font-family: "AnalogClock";
    src: url("../res/fonts/KarmaFuture.ttf");
}

* {
    overflow: hidden;
}

body {
    background-color: rgb(250, 250, 250);
}

.title {
    font-size: 1rem;
}

/* Main Wrapper to all the below elements. */
.settings {
    display: flex;
    flex-flow: column wrap;
}

/* All the Timer info elements. */
.timer_info {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #000;
    border-radius: 15px;
    padding: 2rem;
    background-color: rgb(6, 215, 161);

    justify-content: center;
}

.timer_info p {
    font-size: 1rem;
    font-weight: bold;
}

/* The Main timer section. */
.timer {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #000;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: rgb(171, 152, 238);

    justify-content: center;
    align-items: center;
    row-gap: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.timer button {
    display: block;
    background-color: rgb(94, 68, 187);
    border-radius: 15px;
    border: 0.1rem;
    color: #eeeeee;
    text-align: center;
    font-size: 1rem;
    padding: 0.4rem;
    cursor: pointer;
    width: 100%;
}

.timer-fg {
    display: flex;
    flex-direction: column;

    margin-top: 0.1rem;
    margin-bottom: 0.1rem;

    max-width: 300px;
    max-height: 600px;
}

.timer-bg {
    display: none;
}

.timer-text-based {
    display: none;
    font-family: "AnalogClock", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
}

.timer-svg {
    display: none;
}

/* Timer Editing Section */
.timer_editing {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 0.1rem solid #000;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: rgb(239, 71, 112);
}

.timer_editing button {
    display: inline-block;
    background-color: rgb(94, 68, 187);
    border-radius: 15px;
    border: 0.1rem;
    color: #eeeeee;
    text-align: center;
    font-size: 1rem;
    padding: 0.4rem;
    cursor: pointer;
    margin: 0.5rem;
}

.timer_editing select {
    display: inline-block;
    background-color: #3289ec;
    border-radius: 15px;
    border: 0.1rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 0.4rem;
    cursor: pointer;
    margin: 0.5rem;
}

#stick {
    stroke: #ef4b22;
    stroke-width: 2px;
    fill: none;
}
